<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="Programming forum about Java powered by Spring Framework" name="description"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <title>关于我们</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body>
<main layout:fragment="content">
    <article class="container">
        <header class="row" style="background-color: #90CAF9">
            <div class="col s12">
                <h1 class="flow-text center" style="background-color: #00b0ff">关于我们</h1>
                <p class="center">
                    课题：论坛实现</p>
                <p class="center">
                    姓名：谈礼、龚磊、宋佳、刘芳委、丁代友、李庆亚
                </p>
                <p class="center">
                    口号：技术不够，人头来凑！冲冲冲！！！！
                </p>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div class="col s12">
                <h1 class="flow-text center" style="background-color: #00b0ff">联系我</h1>
                <p class="center">
                    TELL：10086
                </p>
                <p class="center">
                    邮箱：954886703@qq.com
                </p>
            </div>
        </header>
    </article>
</main>
</body>
</html>
